{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
  <h2>Modifier mon ticket</h2>
  <div class="container">
    <div class="post">
        <div class="post-content">
            <div class="btn-update-review">
             <form method="post" enctype="multipart/form-data" id="review-form">
                {% csrf_token %}
                <div class="form-group">
                  {{ form.title.label_tag }}
                  {{ form.title|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  {{ form.description.label_tag }}
                  {{ form.description|add_class:"form-control form-control-description" }}
                </div>
              <div class="form-group">
              {{ form.image.label_tag }}
              {{ form.image|add_class:"form-control-file" }}
              </div>
                <input type="submit" value="Modifier">
              </form>
            </div>
        </div>
    </div>
  </div>

  <script>
  document.addEventListener("DOMContentLoaded", function() {
  const ratingField = document.querySelector('input[name=rating]');
  let ratingValue = ratingField.value;
  const ratingButtons = document.querySelectorAll('.star-btn');

  ratingButtons.forEach(button => {
    if (button.getAttribute('data-rating') <= ratingValue) {
      button.querySelector('i.fa-star').classList.add('checked');
    }

    button.addEventListener('click', () => {
      const rating = button.getAttribute('data-rating');
      ratingField.value = rating;
      ratingValue = rating;

      ratingButtons.forEach(btn => {
        const starIcon = btn.querySelector('i.fa-star');
        if (btn.getAttribute('data-rating') <= rating) {
          starIcon.classList.add('checked');
        } else {
          starIcon.classList.remove('checked');
        }
      });
    });
  });
});
</script>
{% endblock %}
